.footer{
  height: 5em;
  width: 80%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
 align-items: center;

  margin-bottom: 1em;

  border: 1px 0px 0px 0px solid rgb(170, 170, 171);
  background-color: black;
  box-shadow: 1px 20px 20px 7px rgb(0, 0, 0);

  color: gold;
  font-family: 'pacifico', Courier, monospace;

}

.socialmedia{
  display: flex;
  flex-direction: row;
}

.socialmedia__fb{
  width: 2em;
  height: 2em;
  background: url(../assets/body/FB.png);
  background-position: center;
  background-size: cover;
}

.socialmedia__ins{
    width: 2em;
      height: 2em;
      background: url(../assets/body/inst.png);
      background-position: center;
      background-size: cover;
}

.socialmedia__wp {
  width: 2em;
  height: 2em;
  background: url(../assets/body/WP.png);
  background-position: center;
  background-size: cover;
}
